.draw__container {
    height: 10vh;
    width: 90%;
    margin: 1vh auto;
    background-color: var(--container);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.draw__title {
    text-align: center;
    vertical-align: middle  ;
    text-transform: uppercase;
    padding: 1vh;
    font-size: 1.2rem;
}

.draw__score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    text-transform: uppercase;
    margin: auto 0;
}

.draw__score {
    font-size: 1.6rem;
    font-weight: 700;
}